.container h3 {
  text-align: center;
  padding: 1rem 0;
  border-bottom-style: ridge;
}

.converters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  padding: 2rem;
  text-align: center;
  margin: 1rem;
}

.card form {
  margin: 0;
}

.card form input {
  display: block;
  margin: 0 auto 1rem;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .converters {
    flex-direction: column;
    align-content: center;
  }

  .card {
    margin: 0;
  }
}
